@font-face {
    font-family: 'LuckiestGuyRegular';
    src: url('controllers4u-luckiest-guy-regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: ultra-expanded;
    line-height: 1.5;

    margin: 0;
    padding: 0;
}

html {
    background-color: #F5F5F5;

    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 75px;
}

.nav-link,
input[type="submit"],
h1,
h2,
h3 {
    font-family: 'LuckiestGuyRegular';
    font-weight: lighter;
}

::placeholder {
    color: #9E1624;
}

/**************************************************************************/

header {
    background-color: #FFFFFF;
    border-bottom: 2px solid #AAABAF;

    padding: 20px;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-img {
    width: 300px;
    height: auto;
}

#nav-bar {
    list-style: none;

    margin: 0px 10px 0px 0px;
    padding: 0px;

    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.nav-link {
    color: #9E1624;
    text-decoration: none;

    padding: 5px;
}

.nav-link:hover {
    background-color: #9E1624;
    color: #FFFFFF;
    cursor: pointer;
}

.nav-link:active {
    background-color: #000000;
    color: #CCAC3F;
}

/**************************************************************************/

#form {
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#big-logo {
    width: 500px;
    height: auto;

    margin-bottom: 20px;
}

#email {
    color: #9E1624;

    padding-left: 5px;
    width: 230px;
    height: 25px;
}

#submit {
    background-color: #9E1624;
    color: #FFFFFF;
    font-size: 25px;
    
    padding: 5px;
}

#submit:hover {
    background-color: #FFFFFF;
    color: #9E1624;
    cursor: pointer;
}

#submit:active {
    background-color: #000000;
    color: #CCAC3F;
}

/**************************************************************************/

#features {
    text-align: center;

    scroll-margin-top: 100px;
    margin: auto;
    max-width: 1110px;
}

#features h2 {
    margin-bottom: 15px;
}

#feature-container {
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.feature-img {
    width: 100px;
    height: auto;
}

.feature {
    border-right: 1px solid #AAABAF;
}

.feature:last-of-type {
    border: none;
}

/**************************************************************************/

.controller-img {
    width: 250px;
    height: auto;
}

/**************************************************************************/

footer {
    background-color: #FFFFFF;
    border-top: 2px solid #AAABAF;
    font-weight: 100;
    text-align: center;

    padding: 25px;
    width: 100%;

    bottom: 0;
    left: 0;
}